<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SalesMap.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SalesMap.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SalesMap.Properties.Settings>
            <setting name="MapFileLocation" serializeAs="String">
                <value>\\sigmatek.net\Documents\Employees\Derek_Antrican\SalesMap.pdf</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>v4.4</value>
            </setting>
            <setting name="AutoCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SignatureWorkaround" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendLog" serializeAs="String">
                <value>True</value>
            </setting>
        </SalesMap.Properties.Settings>
        <SalesMap.Settings1>
            <setting name="MapFileLocation" serializeAs="String">
                <value>\\sigmatek.net\Documents\Employees\Derek_Antrican\SalesMap.pdf</value>
            </setting>
        </SalesMap.Settings1>
        <SalesMap.Settings>
            <setting name="MapFileLocation" serializeAs="String">
                <value />
            </setting>
        </SalesMap.Settings>
    </userSettings>
</configuration>