<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SalesMap.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SalesMap.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SalesMap.Properties.Settings>
            <setting name="MapFileLocation" serializeAs="String">
                <value>\\sigmatek.net\Documents\Employees\Derek_Antrican\SalesMap.pdf</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>v4.4</value>
            </setting>
            <setting name="AutoCheckUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OffSMRSubject" serializeAs="String">
                <value>SigmaNEST Subscription Membership Renewal</value>
            </setting>
            <setting name="OffSMRSignature" serializeAs="String">
                <value>&lt;span style="color: #000000; font-family: calibri; font-size: 11pt"&gt; 
{MYNAME}&lt;br&gt;
&lt;i&gt;Application Engineer&lt;/i&gt;&lt;br&gt;
&lt;b&gt;SigmaTEK Systems, LLC&lt;/b&gt;&lt;br&gt;
Main: 513.595.2002&lt;br&gt;
1445 Kemper Meadow Drive | Cincinnati, Ohio 45240&lt;br&gt;
&lt;a href="http://www.sigmanest.com"&gt;www.sigmanest.com&lt;/a&gt;&lt;br&gt;
&lt;/span&gt;
&lt;a href="https://www.sigmanest.com/academy/" target="_blank"&gt;&lt;img src="https://www.sigmanest.com/wp-content/uploads/2015/10/NESTX1-EMAIL.png" moz -do-not-send="true" border="0"&gt;&lt;/a&gt;</value>
            </setting>
            <setting name="OffSMRBody" serializeAs="String">
                <value>While I was looking over your company overview, I noticed that your company’s maintenance subscription has expired.  We would like to continue working with you and your company, although we would need to get the maintenance subscription renewed.  I have copied your sales representative, {SALESREPNAME}, on this email so that he is aware of the pending renewal as well.  You may contact {SALESREPNAME} through his email address {SALESREPEMAIL} or by calling him directly at {SALESREPPHONE}.&lt;br&gt;
&lt;br&gt;
I would like to remind you of the benefits of having a current maintenance subscription.  Being an “on-maintenance” customer allows you to call or email our Technical Support Team and receive help with SigmaNEST, whether it is setting up your machines with SigmaNEST or helping you resolve a difficult nesting problem.  You also have free access to install any supported release of SigmaNEST, including future releases.  These releases contain new features and fixes to old problems, most of which is reported by our customers.  This allows you to have an influence in how our software develops and changes.&lt;br&gt;
&lt;br&gt;
Thank you for contacting SigmaNEST Technical Support and we look forward to continuing to work with you.  If there is anything that we can do to assist your maintenance renewal, please let us know and we would be happy to assist.&lt;br&gt;
&lt;br&gt;
&lt;br&gt;</value>
            </setting>
        </SalesMap.Properties.Settings>
        <SalesMap.Settings1>
            <setting name="MapFileLocation" serializeAs="String">
                <value>\\sigmatek.net\Documents\Employees\Derek_Antrican\SalesMap.pdf</value>
            </setting>
        </SalesMap.Settings1>
        <SalesMap.Settings>
            <setting name="MapFileLocation" serializeAs="String">
                <value />
            </setting>
        </SalesMap.Settings>
    </userSettings>
</configuration>