<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SalesMap.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SalesMap.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SalesMap.Properties.Settings>
            <setting name="MapFileLocation" serializeAs="String">
                <value>\\sigmatek.net\Documents\Support\SALESMAP.docx</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>v0.3</value>
            </setting>
        </SalesMap.Properties.Settings>
        <SalesMap.Settings1>
            <setting name="MapFileLocation" serializeAs="String">
                <value>C:\Users\derek.antrican\Pack n Sends\R &amp; M Steel Ltd 2016-02-23 DA\PostFiles\MACHINE.TXT</value>
            </setting>
        </SalesMap.Settings1>
        <SalesMap.Settings>
            <setting name="MapFileLocation" serializeAs="String">
                <value />
            </setting>
        </SalesMap.Settings>
    </userSettings>
</configuration>